# Intro to DS Lab 2

# Question no 1

In [2]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
energy = pd.read_excel('Energy+Indicators.xls', header=16, skipfooter=38, na_values="...")
energy = energy.drop('Unnamed: 0', axis=1)
energy = energy.drop('Unnamed: 1', axis=1)
energy = energy.drop(0, axis=0)
energy = energy.rename(columns={'Unnamed: 2':'Country','Renewable Electricity Production':'% Renewable' })
energy.head()

          Country Energy Supply Energy Supply per capita % Renewable
1     Afghanistan           321                       10     78.6693
2         Albania           102                       35         100
3         Algeria          1959                       51     0.55101
4  American Samoa           NaN                      NaN    0.641026
5         Andorra             9                      121     88.6957

In [36]:
energy['Energy Supply'] = energy['Energy Supply']*1000000
energy['Country'] = energy['Country'].replace({'United States of America':'United States'})
energy.head()

,Country,Energy Supply,Energy Supply per capita,% Renewable
1,Afghanistan,321000000000000000000000000000000000000,10,78.6693
2,Albania,102000000000000000000000000000000000000,35,100
3,Algeria,1959000000000000000000000000000000000000,51,0.55101
4,American Samoa,NaN,NaN,0.641026
5,Andorra,9000000000000000000000000000000000000,121,88.6957

In [28]:
energy['Country'] = energy['Country'].replace({"Republic of Korea": "South Korea", 
                                               "United States of America": "United States",
                                               "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                               "China, Hong Kong Special Administrative Region": "Hong Kong" , 
                                               "Bolivia (Plurinational State of)": "Bolivia",
                                              "Switzerland17" : "Switzerland",
                                              "Iran (Islamic Republic of)" : "Iran",
                                              "Indonesia8" : "Indonesia",
                                              "Italy9" : "Italy",
                                              "Japan10" : "Japan",
                                              "Australia1" : "Australia",
                                              "China2" : "China",
                                              "China, Hong Kong Special Administrative Region3": "China, Hong Kong Special Administrative Region",
                                              "China, Macao Special Administrative Region4" : "China, Macao",
                                              "Denmark5" : "Denmark",
                                              "Falkland Islands (Malvinas)" : "Falkland Islands",
                                              "France6" : "France",
                                              "Greenland7" : "Greenland",
                                              "Kuwait11" : "Kuwait",
                                              "Micronesia (Federated States of)" : "Micronesia",
                                              "Netherlands12" : "Netherlands",
                                              "Portugal13" : "Portugal",
                                              "Saudi Arabia14" : "Saudi Arabia",
                                              "Serbia15" : "Serbia",
                                              "Sint Maarten (Dutch part)" : "Sint Maarten",
                                              "Spain16" : "Spain",
                                              "Ukraine18" : "Ukraine",
                                              "United States of America20" : "United States of America",
                                              "Venezuela (Bolivarian Republic of)" : "Venezuela"})
energy.head(10)

,Country,Energy Supply,Energy Supply per capita,% Renewable
1,Afghanistan,321000000000000000000000000000000,10,78.6693
2,Albania,102000000000000000000000000000000,35,100
3,Algeria,1959000000000000000000000000000000,51,0.55101
4,American Samoa,NaN,NaN,0.641026
5,Andorra,9000000000000000000000000000000,121,88.6957
6,Angola,642000000000000000000000000000000,27,70.9091
7,Anguilla,2000000000000000000000000000000,136,0
8,Antigua and Barbuda,8000000000000000000000000000000,84,0
9,Argentina,3378000000000000000000000000000000,79,24.0645
10,Armenia,143000000000000000000000000000000,48,28.2361

In [35]:
GDP = pd.read_csv("world_bank.csv",header = 4)
GDP['Country Name'] = GDP.rename({"Korea, Rep.": "South Korea",
                                  "Iran, Islamic Rep.": "Iran", 
                                  "Hong Kong SAR, China": "Hong Kong"})
GDP = GDP.rename({'Country Name':'Country'},axis = 1) 
GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022871e+09,1.070430e+09,1.157667e+09,1.247831e+09,1.317944e+09,1.325090e+09,1.368868e+09,1.407725e+09,1.428320e+09,1.428913e+09,1.460474e+09,1.458539e+09,1.476720e+09,1.502859e+09,1.529681e+09,1.565191e+09,1.616112e+09,1.705759e+09,1.792656e+09,1.879188e+09,1.950248e+09,1.999901e+09,2.018485e+09,1.997664e+09,2.045272e+09,2.101671e+09,2.199393e+09,2.398827e+09,2.475464e+09,2.576935e+09,2.606977e+09,2.765137e+09,2.942848e+09,3.296693e+09,3.562720e+09,3.842027e+09,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.013233e+09,8.689884e+09,8.781610e+09,9.762979e+09,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.730822e+10,2.807285e+10,3.029060e+10,3.198688e+10,3.211482e+10,3.201848e+10,3.163426e+10,2.945149e+10,2.217698e+10,2.295317e+10,2.534030e+10,2.817841e+10,3.040451e+10,3.247346e+10,3.352554e+10,3.453535e+10,3.599308e+10,3.349499e+10,3.525264e+10,3.908798e+10,4.622601e+10,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.442066e+09,5.754748e+09,5.924432e+09,5.989893e+09,5.914924e+09,6.020248e+09,6.359624e+09,6.309520e+09,6.219922e+09,6.831748e+09,6.177564e+09,4.349685e+09,4.036508e+09,4.424012e+09,4.791205e+09,5.428436e+09,5.922423e+09,5.280560e+09,5.756278e+09,6.533443e+09,6.969002e+09,7.522364e+09,7.840663e+09,8.293343e+09,8.766856e+09,9.268393e+09,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [30]:
ScimEn = pd.read_excel("scimagojr country rank 1996-2020.xlsx")
ScimEn.head(15)

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226
5,6,Germany,Western Europe,38739,38013,433148,95145,11.18,196
6,7,Russian Federation,Eastern Europe,36735,36560,115938,54993,3.16,90
7,8,Canada,Northern America,33472,32863,568080,100953,16.97,227
8,9,Italy,Western Europe,27983,26940,352993,87828,12.61,166
9,10,South Korea,Asiatic Region,27655,27445,328488,61531,11.88,155
10,11,France,Western Europe,25232,24732,343860,65734,13.63,178
11,12,Iran,Middle East,22933,22734,307280,97038,13.40,141
12,13,Spain,Western Europe,21955,21597,352497,64588,16.06,176
13,14,Brazil,Latin America,21524,21236,183915,45172,8.54,127
14,15,Australia,Pacific Region,20614,20147,314307,51583,15.25,176

In [76]:
def data_cleaning_merging(energy,GDP,ScimEn):
    temp_df = pd.merge(energy,GDP,how = 'inner',on = 'Country')
    data = pd.merge(temp_df,ScimEn,how = 'outer',on = 'Country')
    data.set_index("Country",inplace = True)
    data.columns
    data= data[['Rank', 'Region', 'Documents', 'Citable documents', 'Citations',
           'Self-citations', 'Citations per document', 'H index','Energy Supply', 'Energy Supply per capita', '% Renewable',
           'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
           '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
           '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
           '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
           '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
           '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
           '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    data.drop('Region',axis =1 ,inplace = True)
    data.drop('Country Code',axis =1 ,inplace = True)
    data.drop('Indicator Name',axis =1 ,inplace = True)
    data.drop('Indicator Code',axis =1 ,inplace = True)
    data.drop(['1960', '1961','1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
           '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
           '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
           '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
           '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005'],axis =1 ,inplace = True)
    data = data[data['Rank']<=15]
    return data

In [77]:
df = data_cleaning_merging(energy,GDP,ScimEn)
df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,15.0,20614.0,20147.0,314307.0,51583.0,15.25,176.0,5386000000000000000000000000000000000000,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,14.0,21524.0,21236.0,183915.0,45172.0,8.54,127.0,12149000000000000000000000000000000000000,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,8.0,33472.0,32863.0,568080.0,100953.0,16.97,227.0,10431000000000000000000000000000000000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1.0,273437.0,272374.0,2336764.0,1615239.0,8.55,245.0,127191000000000000000000000000000000000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,11.0,25232.0,24732.0,343860.0,65734.0,13.63,178.0,10597000000000000000000000000000000000000,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,6.0,38739.0,38013.0,433148.0,95145.0,11.18,196.0,13261000000000000000000000000000000000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,3.0,55082.0,53775.0,463165.0,162944.0,8.41,181.0,33195000000000000000000000000000000000000,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Italy,9.0,27983.0,26940.0,352993.0,87828.0,12.61,166.0,6530000000000000000000000000000000000000,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,4.0,50523.0,50065.0,488062.0,119930.0,9.66,193.0,18984000000000000000000000000000000000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Russian Federation,7.0,36735.0,36560.0,115938.0,54993.0,3.16,90.0,30709000000000000000000000000000000000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Spain,13.0,21955.0,21597.0,352497.0,64588.0,16.06,176.0,4923000000000000000000000000000000000000,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,5.0,43389.0,42284.0,615670.0,111290.0,14.19,226.0,7920000000000000000000000000000000000000,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,2.0,175891.0,172431.0,2230544.0,724472.0,12.68,363.0,90838000000000000000000000000000000000000,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
South Korea,10.0,27655.0,27445.0,328488.0,61531.0,11.88,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iran,12.0,22933.0,22734.0,307280.0,97038.0,13.40,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Question no 2

In [83]:
def count_difference(df,energy,GDP,ScimEn):
    temp_df = pd.merge(energy,GDP,how = 'inner',on = 'Country')
    data = pd.merge(temp_df,ScimEn,how = 'outer',on = 'Country')
    temp_count1 = data.index
    count1 = len(temp_count1)
    temp_count2 = df.index
    count2 = len(temp_count2)
    return (count1 - count2)

In [84]:
count_difference(df,energy,GDP,ScimEn)

206

# Question no 3

In [90]:
def average_GDP(data):
    data['average GDP'] = data['2006']+data['2007']+data['2008']+data['2009']+data['2010']+data['2011']+data['2012']+data['2013']+data['2014']+data['2015']
    data['average GDP'] = data['average GDP']/10
    average_GDP = pd.Series(data['average GDP'])
    average_GDP = average_GDP.sort_values(ascending=False)
    return average_GDP
series = average_GDP(df)

# Question no 4

In [103]:
def GDP_changed(series,data):
    name = series.index[6]
    Brazil = data.loc[name]
    difference = Brazil['2015'] - Brazil['2006'] 
    return difference
GDP_changed(series,df)

474343725980.5698

# Question no 5

In [110]:
def Energy_Supply_per_Capita(data):
    series2 = data['Energy Supply per capita']
    return series2.mean()
Energy_Supply_per_Capita(df)

155.69230769230768

# Question no 6